.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.tox/
.nox/
.pyre/
.cache/
.coverage
.coverage.*
htmlcov/

__pycache__/
*.py[cod]
*$py.class

.Python
.python-version
.venv/
venv/
env/

build/
dist/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/

.idea/
.vscode/
*.swp
*.swo
